@font-face {
  font-family: 'BlexMono Nerd Font Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BlexMonoNerdFont/BlexMonoNerdFontMono-Regular.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'BlexMono Nerd Font Mono';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/BlexMonoNerdFont/BlexMonoNerdFontMono-Italic.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Latin Modern Math';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/LatinModernMath/latinmodern-math.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'STIX Two Math';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/STIXTwoMath/STIXTwoMath-Regular.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic Nerd Font Propo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/OpenDyslexicNerdFontPropo/OpenDyslexicNerdFontPropo-Bold.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic Nerd Font Propo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenDyslexicNerdFontPropo/OpenDyslexicNerdFontPropo-Regular.otf'), local('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Bold.ttf'), local('ttf');
  font-display: swap
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf'), local('ttf');
  font-display: swap;
}
